.section {
  border-radius: 15px;
  box-shadow: 0 15px 25px 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  padding-bottom: 20px;
  &__header {
    background-color: $color-primary-1;
    padding: 30px 50px;
    border: 0;
    background-image: url("https://i.ibb.co/CKs6nhP/cover.png");
    margin: 0;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__title {
    color: $white;
    font-size: 44px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
  }
  &__body {
    padding: 30px 50px;
  }
}
